<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Energy Reports</h4>
            <p class="card-category"></p>
        </div>
        <div class="card-body">
            <div id="typography">

                <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button id="btn" class="btn btn-primary btn-block dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true" >Meter 1</button>
                                            <ul class="dropdown-menu">
                                                <li><a  ><p>Meter 1</p></a></li>
                                                <li><a ><p>Meter 2</p></a></li>
                                                <li><a  ><p>Meter 3</p></a></li>
                                                <li class="divider"></li>
                                                <li><a  ><p>Meter 4</p></a></li>
                                                <li class="divider"></li>
                                                <li><a  ><p>Meter 5</p></a></li>
                                                <li><a ><p>Meter 6</p></a></li>
                                                <li><a ><p>Meter 7</p></a></li>
                                                <li><a ><p>Meter 8</p></a></li>
                                                <li class="divider"></li>
                                                <li><a ><p>Meter 9</p></a></li>
                                                <li class="divider"></li>
                                                <li><a ><p>Meter 10</p></a></li>
                                            </ul>
                                  
                                      </div>

                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-primary btn-block dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true" >ALL</button>
                                  <ul class="dropdown-menu">
                                    <li><a ><p>ALL</p></a></li>
                                    <li><a ><p>VLL</p></a></li>
                                    <li><a ><p>VLN</p></a></li>
                                    <li class="divider"></li>
                                    <li><a ><p>Amps</p></a></li>
                                    <li class="divider"></li>
                                    <li><a ><p>Hz</p></a></li>
                                    <li><a ><p>W</p></a></li>
                                    <li><a ><p>PF</p></a></li>
                                    <li><a ><p>VA</p></a></li>
                                    <li class="divider"></li>
                                    <li><a ><p>VAR</p></a></li>
                                    <li class="divider"></li>
                                    <li><a ><p>Wh Imp</p></a></li>
                                    <li><a ><p>Wh Exp</p></a></li>
                                  </ul>
                              </div>  
                          </div>
                      </div>
                  </div>


                  <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button id="btn" class="btn btn-info btn-block" href="#" data-toggle="dropdown" aria-expanded="true" >Date Selector </button>
                               </div>

                              

                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" href="#" data-toggle="dropdown" aria-expanded="true" >Submit </button>
                              </div>  

                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-success btn-block" href="#" data-toggle="dropdown" aria-expanded="true" >Extract </button>
                              </div> 
                          </div>
                      </div>
                  </div>

                </div>
            </div>
        </div>
  </div>
</div>